
body {
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.back
{
width: 100%;
color: black;
}



.nav {
    z-index: 2;
    position: relative;
    width: 100%;
    

} 
html {
    font-size: 20px;
    font-family: "Lucida Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;


}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;


}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
}

a:hover {
    color: white;
}
li {
    border-right: 1px solid grey;
}

li:last-child {
    border-right: none;
}
h1 {
    color: white;
    font-family: verdana;
}
 
 a link
{
color: white;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

