@font-face {
    font-family: title;
    src: url("./fonts/title.ttf");
}

@font-face {
    font-family: text;
    src: url("./fonts/text.ttf");
}

.nav {
    z-index: 2;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 130px;
    overflow: hidden;
    background-color: #151515;
}

li {
    display: inline;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: text;
    margin-left: 16px;
}

#logo {
    height: 130px;
    width: 130px;
    vertical-align: middle;
    content: url(./img/yt-logo.jpg);
}

#logo:hover {
    content: url(./img/yt-logo-hover.jpg);
}

ul {
    padding-top: 0px;
    padding-left: 0px;
    list-style-type: none;
    margin: 0px;
    margin-right: 16px;
}

a {
    text-decoration: none;
    color: #EAEAEA;
    font-size: 16px;
}

a:hover {
    color: #08c460;
}

#content-wrapper {
    background-image: ;
    
}

#space-top {
    width: 100%;
    height: 130px;
}

#img {
    width: 100%;
    height: 1032px;
    background-image: url("./img/enduro.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}