.fundal {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border: 0px;
    padding:0px;
    z-index: 1;
    position: absolute;

}

.nav {
    z-index: 2;
    position: relative;
    background-color: white;
    height: 200px;
    margin-top: 300px;
    width: 120px;



} 
html {

}

.continut {
padding: 0px;
margin-right: 10%;
background-color: red;
z-index: 2;
position: relative;
height: 200px;
margin-top: 200px;
margin-left: 10%;

}

ul {
   padding-top: 20px;
   list-style-type: none;
}

li {
   text-align: center;  
    
}